src/main/mule/flight.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="94e3fc1c-aafc-4d1f-9a27-aba3b86c7740" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="flight" doc:id="7a1a71ff-cfb7-4139-9ece-fb1223afeaf4" >
		<http:listener doc:name="/flights" doc:id="044eb4d2-7036-4a44-91b7-40de5453ab10" config-ref="HTTP_Listener_config" path="/flights"/>
		<set-payload value='#[output json --- "Flight Data"]' doc:name="Set Payload" doc:id="0c53da6c-6df2-42eb-9309-d915668b98cd" />
	</flow>
</mule>
